<!-- EVERY SAVED ARTICLE GETS A TITLE, SUMMARY, LINK, AND TWO BUTTONS FOR COMMENTING AND DELETING -->   

<div class="savedArt articles">
<ul>
    
    {{#each articles }}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">

<!-- THE SUMMARY ALSO ACTS AS THE LINK TO THE OFFICIAL ARTICLE -->

            <a class="artLink" href={{link}}>{{summary}}</a>
            <button data-id={{_id}} class="btn btn-danger pull-right removeSaved"><i class="far fa-trash-alt"></i></button>
            <button data-id={{_id}} class="btn btn-primary pull-right saved-buttons"  id="addCheckNote" data-toggle="modal" data-target="#noteModal" data-value="{{this._id}}"><i class="far fa-comments"></i></button>
        </div>
    </div>
<br>
<br>

<!-- USER CAN PULL UP COMMENTS BOX FOR EACH ARTICLE SAVED -->
      
<div id="noteModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="noteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
    
    <div class="modal-header">
        <h4 class="modal-title" id=""><b>COMMENTS</b></h4>
        <div>
            <ul id="notesBody">
            </ul>
        </div>
    </div>

<!-- SECTION POPS UP FOR USER TO ADD A COMMENT -->
    
    <div class="modal-body">
    <div class="form-group">
        <label for="exampleTextarea">Post a new comment...</label>
        <textarea class="form-control" id="notestext" rows="3"></textarea>
    </div>
    </div>

<!-- FOOTER FOR POSTING COMMENT OR EXITING OUT OF THE COMMENTS SECTION -->

    <div class="modal-footer">
        <button type="button" class="btn btn-danger exit-button" data-dismiss="modal"><i class="fas fa-times"></i></button>
        <button data-id={{_id}}  data-dismiss="modal" id="saveButton" class="btn btn-primary savenote"><i class="fas fa-arrow-right"></i></button>
    </div>

    </div>
    </div>
</div>

    {{/each}}

</ul>

</div>
